<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="meaning">
            <h1>MEANING</h1>
            <p>{{meaning}}</p>
        </div>
        <div class="antonym">
            <h1>ANTONYMS: </h1>
            <p>{{antonyms}}</p>
        </div>
        <div class="synonym">
            <h1>SYNONYMS: </h1>
            <p>{{synonyms}}</p>
        </div>
    </section>

    <a href="/">back</a>
</body>
</html>